<!DOCTYPE html>
<html>
  <head>
    <title>FaceTome</title>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
